@import "tailwindcss";

@theme {
  --color-osu-orange: #FF6600;
  --color-osu-black: #000000;
}

@layer base {
  html, body, #root {
    height: 100dvh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
